[
  {shortener_api, [
      {port, 8080}
  ]},
  {shortener_core, []},
  {shortener_storage, [
      {db_host,      "localhost"},
      {db_port,      5432},
      {db_user,      "postgres"},
      {db_pass,      "postgres"},
      {db_name,      "shortener"},
      {db_pool_size, 10}
  ]},
  {shortener_analytics, []},
  %% Configure inets/ssl for httpc (used by geoip + metadata + webhook)
  {inets, [{services, [{httpc, [{profile, default}]}]}]},
  {ssl, []}
].
